{% extends 'layout.site.html.twig' %}

{% block style %}
div#about {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 35px;
    font-size: 20px;
}

h2 { margin: 0 auto; width: 50%; text-align: center; margin-top: 25px; }
{% endblock style %}

{% block content %}

<h2>A Empresa</h2>

<div id="about">
<p>Somos uma empresa com a solução para quem utiliza automóveis diariamente.
E uma solução para o Marketing da sua empresa.
</p>
<p>Como? Para carros utilitários, iremos alugar o vidro traseiro, gerando renda extra.
Para empresas, iremos divulgar sua marca ou produto em vidros traseiros de automóveis, tendo grande visibilidade,
onde em uma cidade grande a média de tempo gasto com trânsito é de 2 Horas e 28 Minutos em média, de acordo com a CNDL em 2018.
</p>
Cadastre-se ou entre em contato conosco e saiba mais

{% endblock %}