{% extends 'layout.site.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-lg-10 col-md-12">
            <div class="impl_con_form">

                <div class="col-lg-12 col-md-12 text-center">
                    <h1>Entre em Contato</h1>
                </div>
                <form method="POST" action="{{ route('site.contact.message.send') }}" onSubmit="return validateForm(this);">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <input type="text" required name="name" class="form-control require" placeholder="NOME">
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <input type="text" required name="phone" class="form-control require" placeholder="TELEFONE (XX) XXXXX XXXX">
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <input type="email" required name="email" class="form-control require" placeholder="E-MAIL">
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <input type="text" required name="address" class="form-control require" placeholder="ENDEREÇO">
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <input type="text" required name="subject" class="form-control" placeholder="ASSUNTO">
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <textarea name="message" required class="form-control" placeholder="MENSAGEM"></textarea>
                        </div>
                    </div>
                    <div class="response"></div>
                    <div class="col-lg-12 col-md-12 text-center">
                        <input type="hidden" name="form_type" value="contact">
                        <button type="submit" class="impl_btn submitForm">Enviar Mensagem</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    function validateForm(form)
    {
        var isValid = true;
        var msg= "O campo {STRING} deve ter no mínimo {INT} caracteres!";

        if( form.elements.name.value.length < 5 ){
            msg = msg.replace("{STRING}", 'NOME').replace("{INT}", 5);
            isValid = false;
        }else
        if( form.elements.phone.value.length < 10 ){
            msg = msg.replace("{STRING}", 'TELEFONE').replace("{INT}", 10);
            isValid = false;
        }else
        if( form.elements.email.value.length < 10 ){
            msg = msg.replace("{STRING}", 'E-MAIL').replace("{INT}", 10);
            alert('O campo E-MAIL deve ser preenchido!');
            isValid = false;
        }else
        if( form.elements.address.value.length < 5 ){
            msg = msg.replace("{STRING}", 'ENDEREÇO').replace("{INT}", 5);
            isValid = false;
        }else
        if( form.elements.subject.value.length < 5 ){
            msg = msg.replace("{STRING}", 'ASSUNTO').replace("{INT}", 5);
            isValid = false;
        }else
        if( form.elements.message.value.length < 10 ){
            msg = msg.replace("{STRING}", 'ASSUNTO').replace("{INT}", 10);
            isValid = false;
        }

        if( !isValid ){
            alert(msg);
        }

        return isValid;
    }

{% endblock scripts %}