{% extends 'layout.site.html.twig' %}

{% block style %}



{% endblock style %}

    

{% block content %}

<div class="row insert-bg-image" id="index-content" style="min-height: 500px;">
    <div class="col-lg-12 col-md-12">
    </div>
</div>

{% endblock %}