{% extends 'layout.site.html.twig' %}

{% block style %}
    form { color: black; }
    .cursor-pointer { cursor: pointer; }
{% endblock style %}

{% block content %}

<div class="impl_contact_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-12">
                    <div class="impl_con_form" style="min-height: 810px;">

                        <div class="col-lg-12 col-md-12 text-center">
                            <h1>Cadastro</h1>
                        </div>
                        <form method="POST" action="{{ route('site.cliente.post.cadastrar') }}" onSubmit="">
                            <div style="min-height: 560px;">
                                <div class="row">
                                    <div class="col-lg-8 col-md-8 ">
                                        <div class="radio">
                                            <label class="cursor-pointer" class="radio-inline"><input type="radio" onClick="trataCampos(this);" onChange="trataCampos(this);" value="cpf" name="doc_type" checked> Pessoa Física</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="radio">
                                            <label class="cursor-pointer" class="radio-inline"><input type="radio" onChange="trataCampos(this);" value="cnpj" name="doc_type"> Pessoa Jurídica</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <input type="text" required name="doc_id" class="form-control require" placeholder="CPF">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <input title="Nome" type="text" required name="name" class="form-control require" placeholder="NOME">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <input title="DDD" type="text" maxlength="2" required name="phone_prefix" class="form-control require" placeholder="DDD">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <input title="Telefone" type="text" required name="phone" class="form-control require" placeholder="TELEFONE">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <input title="E-mail" type="email" required name="email" class="form-control require" placeholder="E-MAIL">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <input title="Modelo do Veículo" type="text" required name="car_model" class="form-control require" placeholder="MODELO DO VEÍCULO">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <input title="Cor do Veículo" type="text" required name="car_color" class="form-control" placeholder="COR DO VEÍCULO">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <input title="Área de Atuação" type="text" required name="company_category" class="form-control" placeholder="RAMO / ÁREA">
                                    </div>
                                </div>
                            </div>

                            <div class="response"></div>
                            <div class="col-lg-12 col-md-12 text-center">
                                <input type="hidden" name="form_type" value="contact">
                                <button type="submit" class="impl_btn submitForm">Salvar</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="impl_contact_info">
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <div class="impl_contact_box">
                                    <div class="impl_con_data">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <h2>Fone</h2>
                                        <p>(11) 3456 7890</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="impl_contact_box">
                                    <div class="impl_con_data">
                                        <i class="fa fa-home" aria-hidden="true"></i>
                                        <h2>Localização</h2>
                                        <p>Jundiaí, SP, Brasil</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="impl_contact_box">
                                    <div class="impl_con_data">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                        <h2>E - mail</h2>
                                        <p>atendimento@backers.com.br</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

$(function(){ trataCampos( document.getElementsByName('doc_type')[0] ); })

function trataCampos(el)
{
    $('[name="doc_id"]').focus();
    switch( el.value )
    {
        case 'cpf':

        $('[name="doc_id"]').parent('div').show();
        $('[name="doc_id"]').attr('placeholder', 'CPF')

        $('[name="name"]').parent('div').show();
        $('[name="name"]').attr('required');

        $('[name="phone"]').parent('div').show();
        $('[name="phone"]').attr('required');

        $('[name="phone_prefix"]').parent('div').show();
        $('[name="phone_prefix"]').attr('required');

        $('[name="doc_id"]').parent('div').show();
        $('[name="doc_id"]').attr('required');

        $('[name="car_model"]').parent('div').show();
        $('[name="car_model"]').attr('required');

        $('[name="car_color"]').parent('div').show();
        $('[name="car_color"]').attr('required');

        $('[name="company_category"]').parent('div').hide();
        $('[name="company_category"]').removeAttr('required');

        break;

        case 'cnpj':

        $('[name="name"]').parent('div').hide();
        $('[name="name"]').removeAttr('required');

        $('[name="doc_id"]').attr('placeholder', 'CNPJ');
        
        $('[name="car_model"]').parent('div').hide();
        $('[name="car_model"]').removeAttr('required');
        
        $('[name="car_color"]').parent('div').hide();
        $('[name="car_color"]').removeAttr('required');
        
        $('[name="phone"]').parent('div').hide();
        $('[name="phone"]').removeAttr('required');
        
        $('[name="phone_prefix"]').parent('div').hide();
        $('[name="phone_prefix"]').removeAttr('required');
        
        $('[name="company_category"]').parent('div').show();
        $('[name="company_category"]').removeAttr('required');

        break;
    }
}

{% endblock %}