HOST=smtp.gmail.com
PORT=587

IS_SMTP=true
IS_HTML=true
SMTP_DEBUG=false
SMTP_SECURE=tls
SMTP_AUTH=true

USERNAME=tiago.farias.poa@gmail.com
PASSWORD=XxXxXxXxXxX

FROM_EMAIL=atendimento@backers.com.br
FROM_NAME="Jane Doe"

TO_EMAIL=atendimento@backers.com.br
TO_NAME="John Doe"

SUBJECT="NOVA MENSAGEM DO SITE BACKERS..."