{% extends 'layout.admin.html.twig' %}

{% block stylesheet %}{% endblock stylesheet %}

{% block style %}{% endblock style %}

{% block scriptsource %}{% endblock %}

{% block scripts %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {{ Message.display('info') }}
            


        </div>
    </div>
{% endblock %}